<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/assinantes.css">
    <title>Assinantes</title>
</head>
<body>
    <%- include("./components/Nav.ejs") %>
    <div class="container_assinantes">
        <h1>Lista de Assinantes</h1>
        <% assinantesLista.forEach((assinante) => { %>
            <nav>
                <ul>
                    <li>Id: <%= assinante.id %> | Nome: <%= assinante.nome %> | Roles: <%= assinante.roles %></li>
                </ul>
            </nav>
        <% }); %>
        <%- include("./components/headerPainel.ejs") %>
    </div>
</body>
</html>