<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include("./components/NavHeader.ejs") %>
    <main>
        <section>
            <div class="container_home">
                <div class="box_content_home">

                    <div class="container_content_home">
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                        <%- include("./components/cardPost.ejs") %>
                    </div>

                </div>
                <div class="h-full w-[20%] bg-white"></div>
            </div>
        </section>
    </main>
    
</body>
</html>